/*******w******** 
    
    Name: Marco Juyo
    Date: Marc 19th, 2024
    Description: Styles

****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1E;
    font-family: 'Poppins', sans-serif;
    color: #F2F2F7;
}

a {
    text-decoration: none;
    color: #0A84FF;
}

a:hover {
    color: #FBE778;
}

.wrapper {
    margin: 10px auto;
    width: 90%;
}

#header {
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
}

#navbar ul {
    padding: 10px 0px;
    margin: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

#navbar a {
    color: #9B9A9A;
}

#navbar a.active {
    color: #FBE778;
}

#navbar a:hover {
    color: #0A84FF;
}

#menu li {
    border: 1px #9B9A9A solid;
    width: 100%;
}

#menu li a {
    padding: 5px 10px;
    display: block;
    text-align: center;
    font-size: 20px;
}

#all-bounties {
    padding: 10px 20px;

}

.bounties-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.bounties-post {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: calc(33.333% - 50px);
    min-width: 280px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #FFF;
    overflow: hidden;
    text-align: center;
}

.bounties-post h2 {
    margin-bottom: 10px;
}

.bounties-post .date-stamp {
    font-size: 0.9em;
    margin-bottom: 15px;
    font-weight: lighter;
}

.bounties-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.bounties-post p {
    margin-bottom: 10px;
    text-align: left;
}

.special-font {
    font-family: 'Aurebesh', sans-serif;
    color: #0A84FF;
}

.bounties-content {
    font-weight: lighter;
}    

/* Details */
#bounties-details {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px 60px;
    margin: 10px auto;
    color: #FFF;
    width: 40%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

#bounties-details h2 {
    margin: 0 auto;
}

#bounties-details .date-stamp {
    font-size: 0.9em;
    margin-bottom: 15px;
    font-weight: lighter;
}

.bounties-description img {
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.bounties-description p {
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: left;
}

.no-photo {
    margin: 0px auto 15px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-color: darkgrey;
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
}

