/*******w******** 
    
    Name: Marco Juyo
    Date: Marc 19th, 2024
    Description: Styles

****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/*    background-color: #1C1C1E;*/
    background-color: #141414;
    font-family: 'Poppins', sans-serif;
    color: #F2F2F7;
}

::selection {
    color: #FFF;
    background: #BE1E2D;
}

a {
    text-decoration: none;
    color: #0A84FF;
}

a:hover {
    color: #FBE778;
}

.wrapper {
    width: 100%;
}



/* Landing Page */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    background: url('images/background.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #F2F2F7;
}

.landing .hero {
    max-width: 800px;
}

.landing h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.landing p {
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.btn {
    border: none;
    background-color: #0A84FF;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-primary {
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;

}

.btn-primary:hover {
    background-color: #0066CC;
    color: #fff;
}

.btn-del-small {
    border-radius: 10px;
    padding: 2px 2px;
}

.btn-del-small:hover {
    background-color: #0066CC;
    color: #fff;
    cursor: pointer;
}



/* Use media queries to ensure proper scaling on smaller devices */
@media (max-width: 768px) {
    .landing {
        height: auto;
        padding: 60px 20px;
    }

    .landing h1 {
        font-size: 2.5rem;
    }

    .landing p {
        font-size: 1rem;
    }
}


/* Disclaimer Styles */
.disclaimer {
    color: #CCCCCC; /* Gray text for the disclaimer */
    background-color: rgba(0, 0, 0, 0.8); /* Slight dark background for contrast */
    border-radius: 5px;
    padding: 10px;
    margin: 40px auto; /* Centering the disclaimer */
    width: 80%;
    font-size: 0.9rem;
    text-align: center;
}

/* For smaller screens, you can adjust the width */
@media (max-width: 768px) {
    .disclaimer {
        width: 95%;
        margin: 20px auto;
        padding: 8px;
    }
}




#navbar {
    background-color: #141414;
}
#navbar ul {
    padding: 10px 0px;
    margin: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
}

#navbar a {
    color: #9B9A9A;
}

#navbar a.active {
    color: #FBE778;
}

#navbar a:hover {
    color: #0A84FF;
}

#menu li {
    width: 100%;
}

#menu li a {
    padding: 5px 10px;
    display: block;
    text-align: center;
    font-size: 20px;
}





.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 20px 40px;
    color: white;
}

.header .logo a {
    display: flex;
    align-items: center;
}

.header img {
    height: 40px;
}

.header .title {
    padding-left: 20px;
    font-size: 12px;
    text-align: center;
    align-content: center;
}

.header .search-bar input[type="search"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-right: 6%;
  border-radius: 20px;
  border: 1.5px solid #333;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.header .auth-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#toggle {
    display: none;
}

.user-welcome {
    display: flex;
    align-items: center;
}

.user-welcome label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
}

.user-welcome label p {
    padding-right: 10px;
}

.user-welcome span {
    padding-right: 20px;
}



#menuList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    display: none;
    position: absolute;
    top: 70px;
    right: 40px;
    background: #000;
    flex-direction: column;
    border-radius: 20px;
    border: 1.5px solid #333;
    box-shadow: 0px 0px 6px rgba(211, 211, 211, 0.5);
}

#menuList li {
    text-align: left;

}

#menuList li a {
/*    border-bottom: 1.5px solid #333;*/
    padding: 15px 40px;
}


#menuList a {
    display: block;
    text-decoration: none;
    font-size: 16px;
}

#menuList a:hover {
    color: #0A84FF;
}

#toggle:checked + #menuList {
        display: block;
}



/* Sign In */

.logo-signin {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.signin-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    box-sizing: border-box;
}

.signin-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-img img {
    width: 50%;
    margin-bottom: 30px;
}

.signin-container {
    background-color: #202020;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(211, 211, 211, 0.5);
}

.signin-container h2 {
    color: #0A84FF;
    text-align: center;
    margin-bottom: 20px;
}

.signin-container form {
    display: flex;
    flex-direction: column;
}

.signin-container label {
    font-weight: 500;
    margin-bottom: 5px;
}

.signin-container input[type="text"],
.signin-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1.5px solid #333;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.signin-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #0A84FF;
    color: white;
    font-size: 18px;    
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-container input[type="submit"]:hover {
    background-color: #0066CC;
}

.error {
    color: #ff6b6b;
    margin-bottom: 15px;
}

.signin-container p {
    text-align: center;
    margin-top: 20px;
}

.signin-container a {
    color: #0A84FF;
    font-weight: 500;
}

.signin-container a:hover {
    color: #FBE778;
}


/* Bounties */
#all-bounties {
    padding: 10px 20px;
    width: 80%;
    margin: 20px auto;
}

.bounties-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.bounties-post {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: calc(33.333% - 50px);
    min-width: 280px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #FFF;
    overflow: hidden;
    text-align: center;
}

.bounties-post h2 {
    margin-bottom: 10px;
}

.bounties-post .date-stamp {
    font-size: 0.9em;
    margin-bottom: 15px;
    font-weight: lighter;
}

.bounties-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.bounties-post p {
    margin-bottom: 10px;
    text-align: left;
}

.special-font {
    font-family: 'Aurebesh', sans-serif;
    color: #0A84FF;
}

.bounties-content {
    font-weight: lighter;
}    

/* Details */

.details-wrapper {
    display: flex;
    margin: 20px 40px;
}

#bounties-details {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 10px auto;
    color: #FFF;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

#bounties-details h2 {
    margin: 0 auto;
}

#bounties-details .date-stamp {
    font-size: 0.9em;
    margin-bottom: 15px;
    font-weight: lighter;
}

.bounties-description img {
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.bounties-description p {
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: left;
}

.no-photo {
    margin: 0px auto 15px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-color: darkgrey;
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
}

.success {
    color: greenyellow;
}


/* Comments Section */
.comments-section {
    background-color: #252525;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    color: #F2F2F7;
    width: 30%;
}

.comments-section h2 {
    margin-bottom: 15px;
    color: #0A84FF;
}

.comments-section form {
    margin-bottom: 20px;
}

.comments-section input[type="text"],
.comments-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1.5px solid #333;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}

.comments-section button {
    width: 50%;
    padding: 10px;
    background-color: #0A84FF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comments-section button:hover {
    background-color: #0066CC;
}

.captcha {
    display: grid;
    text-align: center;
}

.captcha img {
    padding: 20px;
}

.captcha input {
    width: 50% !important;
}


/* Comments List */
.comments-list {
    margin: 20px auto;
}

.comment {
    background-color: #252525;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment strong {
    color: #0A84FF;
}

.comment p {
    margin-top: 5px;
    color: #F2F2F7;
}

.comment small {
    display: block;
    margin-top: 10px;
    color: #9B9A9A;
}



/* New Post */

.bounty-form {
    width: 50%;
    margin: auto;
/*    display: table;*/
}

fieldset {
    display: grid;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(211, 211, 211, 0.5);
}

fieldset > div {
    display: inline-grid;
    margin: 0 20px 10px;
}

.bounty-form input[type="text"], 
.bounty-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1.5px solid #333;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.bounty-form textarea {
    border-radius: 20px;
    border: 1.5px solid #333;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.bounty-form select {
    height: 40px;
    border-radius: 20px;
    border: 1.5px solid #333;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;

}

.bounty-form input[type="file"] {

}

.bounty-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #0A84FF;
    color: white;
    font-size: 18px;    
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bounty-form input[type="submit"]:hover {
    background-color: #0066CC;
}






/* Footer */
.footer {
    background-color: #0A0A0A; 
    color: #F2F2F7; 
    text-align: center; 
    padding: 40px 0; 
    font-size: 18px; 
    border-top: 2px solid #BE1E2D; 
}



/* Dashboard */
.dashboard {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 40px auto;
    color: #F2F2F7;
    width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dashboard h1 {
    color: #FBE778;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
}

.dashboard-content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.dashboard-section {
    margin-bottom: 30px;
    background-color: #252525;
    padding: 20px;
    border-radius: 20px;
}

.dashboard-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.dashboard-section h2 {
    color: #FBE778;
    font-size: 20px;
}

.dashboard-section .button {
    padding: 5px 10px;
    background-color: #0A84FF;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.dashboard-section .button:hover {
    background-color: #0066CC;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
}

table, th, td {
    border-bottom: 0.5px solid #F2F2F7;
    padding: 5px 0;
}

th {
    background-color: #444;
    color: #F2F2F7;
}

td {
    background-color: #252525;
    color: #F2F2F7;
}

th, td {
    padding: 10px;
    text-align: left;
}

td a, td form {
    margin-right: 10px;
    transition: color 0.2s;
}
